[Unit]
Description=Miner Service
After=network.target

[Service]
{% if mining_tool == 'xmrig' %}
ExecStart=/usr/local/bin/xmrig -c /opt/xmrig/config.json >> /var/log/xmrig.log 2>&1
{% elif mining_tool == 'srbminer' %}
ExecStart=/opt/srbminer/SRBMiner-MULTI --config /opt/srbminer/config.txt >> /var/log/srbminer.log 2>&1
{% elif mining_tool == 'dero' %}
ExecStart=/opt/dero/dero-miner --config /opt/dero/config.txt >> /var/log/dero.log 2>&1
{% endif %}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
